.container {
	width:100% !important;
	height:auto !important;
	margin:0px !important;
	padding: 0px !important;

}


.page-header {
	border-bottom:1px solid #555 !important;
	padding: 9px !important;
	background: #222;
	color:white;
	text-shadow: 0.1em 0.1em #333;
	margin:0px !important;
}

.page-header spam {
	margin:0px;
	
}

body {
	height: 100%;
	width:100%;
	background:#AAA !important;
}

.navP {
	padding: 2px !important;
}
.navP li {
	margin-left:10px;
}

.navP li .btn-nav {
	color:white;
	margin-left:10px;
	font-size:1.5em;
}
.navP li a:hover {
	color:white !important;
	background:#222 !important;
}
.navP li a:focus {
	color:white !important;
	background:#222 !important;
}

.col-md-12 {
	padding:0px !important;
	margin:0px !important;
}

.thumbnail {
	padding:0px !important;
	margin:0px !important;
}