<!DOCTYPE html>
<html>
	<head>
		<title>Example Mean</title>
		<link rel="icon" href="favicon.ico"/>
		<link rel="shortcut icon" href="favicon.ico"/>
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
	</head>
	<body>
		<!-- header -->
		<section class="page-header" ng-include="'views/head.client.view.html'"></section>
		<!-- body -->
		<section class="container" ng-view></section>
		

		<!-- lib -->
		<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="lib/angular/angular.js"></script>
		<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="lib/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="lib/jquery-ui/jquery-ui.js"></script>
		
		<script type="text/javascript" src="application.js"></script>
	</body>
</html>